.text-gradient {
  background-image: linear-gradient(180deg, var(--gradient));

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  height: fit-content;

  transition: all 0.3s ease-in;
}
.text-gradient:hover {
  opacity: 70%;
}

.bg-gradient {
  background: linear-gradient(180deg, var(--gradient));
  transition: all 0.3s ease;
}
.bg-gradient:hover {
  opacity: 85%;
}

.border-gradient {
  border: 1px solid transparent;
  background: linear-gradient(#00041a, #00041a) padding-box,
    linear-gradient(135deg, var(--borderGradient)) border-box;
}

.border-gradient--reverse {
  border: 1px solid transparent;
  background: linear-gradient(#00041a, #00041a) padding-box,
    linear-gradient(315deg, var(--borderGradientReverse)) border-box;
}
