@import url(normalize.css);
@import url(fonts.css);

:root {
  --primary: #00041a;
  --secondary: #1f2336;
  --gradient: rgba(244, 190, 178, 1) 0%, rgba(249, 198, 186, 1) 50%,
    rgba(255, 220, 212, 1) 100%;
  --borderGradient: rgb(0, 6, 36), rgba(255, 255, 255, 0.333);
}

* {
  font-family: "Avenir Next World", ui-sans-serif, system-ui, sans-serif !important;
}

html {
  background-color: var(--primary);
  color: #ffffff;
  height: 100dvh !important;
  line-height: 1.2 !important;
}

.text-gradient {
  background-image: linear-gradient(180deg, var(--gradient));

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  height: fit-content;

  transition: all 0.3s ease-in;
}
.text-gradient:hover {
  opacity: 70%;
}

.bg-gradient {
  background: linear-gradient(180deg, var(--gradient));
  transition: all 0.3s ease;
}
.bg-gradient:hover {
  opacity: 85%;
}

.border-gradient {
  border: 1px solid transparent;
  background: linear-gradient(#00041a, #00041a) padding-box,
    linear-gradient(135deg, var(--borderGradient)) border-box;
}
