@import url(normalize.css);
@import url(fonts.css);
@import url(gradient.css);
@import url(banner.css);

:root {
  --primary: #00041a;
  --secondary: #1f2336;
  --accent: #f4beb2;
  --white: #ffffff;
  --gradient: var(--accent) 0%, #f9c6ba 50%, #ffdcd4 100%;
  --borderGradient: rgb(0, 6, 36), #ffffff55;
  --borderGradientReverse: #000624, #000624, #f5c5b9;
}

* {
  font-family: "Avenir Next World", ui-sans-serif, system-ui, sans-serif !important;
}

html {
  background-color: var(--primary);
  color: var(--white);
  height: 100dvh !important;
  line-height: 1.2 !important;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
main {
  flex: 1;
}

.blur-circle {
  content: "";
  width: 250px;
  height: 250px;
  background-color: --accent;
  opacity: 0.3;
  border-radius: 999px;
  position: absolute;
  filter: blur(100px);
}
